body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  display: flex;
  justify-content: center;
}

#calc, #display {
  display: flex;
  width: 700px;
  flex-direction: column;
} 

.row {
  width: 700px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

button {
  border: .2px solid lightgrey;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

#display {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;    
  background-color: #868593;
  height: 100px;
  color: white;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: right;
  padding: .3em;
}